body {
  /*  margin-top: 45vh;
    text-align: center; */
    font-family:  sans-serif;
}

body div h1 {
    text-align: center;
    border-bottom: 1px solid grey;
}

/**
h1 {
    display: inline-block;
    border: 5px solid black; 
    border-radius: 10px;
    padding: 10px
}
*/

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16;
    font-style: italic;
}

img  {
    height: 20px; 
    width: 50px; 
    border: 1px solid black;
}


.UserBlock  {
    display: inline-block; 
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px; 
    margin: 15px;
    width: 255px;
}

.UserDetails {
    display: inline-block; 
    margin-left: 15px;
}

.error {
    color: red; 
    font-weight: bold;
    font-size: 26px;
    text-align: center;
}

.list-items {
    list-style: georgian;
}

.item {
    font-size: 22;
}